USE [master]
GO
/****** Object:  Database [ChatApplication]    Script Date: 17/02/2019 1:00:52 AM ******/
CREATE DATABASE [ChatApplication]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChatApplication', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ChatApplication.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ChatApplication_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ChatApplication_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChatApplication].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChatApplication]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 17/02/2019 1:00:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NULL,
	[fullname] [nvarchar](1000) NULL,
	[STATE] [bit] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[avarta] [image] NULL,
 CONSTRAINT [PK__Client__3213E83FD50F6372] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
